section{

.genreList{
    color: white;
    margin: 0;
    padding: 0;

    
    .genres{
        display:flex;
        font-size: 100%;
        border-bottom: 2px solid rgb(115, 107, 94);
        justify-content: space-between;
        align-items: center;

        .genre{
            color: rgb(51, 125, 255);
            cursor: pointer;
        
            .star{
                color: yellow;
                align-items: left;
                cursor:default;
            }

            .unCheckedStar{
                color: white;
                align-items: right;
                cursor:default;
            }
        }

        .addFav{
            font-size: 90%;
            color: rgb(246, 241, 241);
            padding-left: 1rem;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
        }}

        .alreadyFav{
            font-size: 90%;
            color: rgb(255, 226, 5);
            padding-left: 1rem;

            }

    }

}

}