nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.7rem 2rem 0.7rem;
    background-color: #333557;

    a {
        color: white;
        padding: 0.5rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 1.5rem;

        #home {
            color: black;
            background-color: #F4ABC5;
        }

        #genres {
            text-decoration: underline;
        }
    
    }

    #logo {
        font-size: 2rem;
        text-decoration: underline;
    }

}

@media only screen and (max-width: 768px) {
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        ul {
            display: flex;
            flex-direction: column;
            padding: 0;

            li {
                margin-top: 1rem;
            }
        }
    }
}