@import "genresPage";
@import "home";
@import "movieCard";
@import "header";
@import "comparePage";
@import "genrePage";
@import "logIn";

#root {
    padding-top: 0.5rem 0rem 0.5rem 0rem;
    color:white;
}

body{
    background-color: #242424;
    
    h1{
        color: white;
        text-align: center;
        font-size: 35px;
    }

    footer{
        margin-top: 1.5rem;
        padding: 1.5rem 0rem 1rem 0rem;
        background-color: $headerFooterColor;
    }
}