nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.7rem 2rem 0.7rem;
    background-color: #333557;

    a {
        color: white;
    }

    div {
        a{
            padding: 0.5rem;
        }
        #compare {
            color: black;
            background-color: #F4ABC5;
        }

        #genre {
            text-decoration: underline;
        }
    
    }

    #home {
        font-size: 2rem;
        text-decoration: underline;
    }

}